/* IMPOSTAZIONI GENERALI */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Poppins";
  background-image: url(../img/sfondo.png);
}

header a {
  color: white;
  line-height: 1.5em;
  text-decoration: none;
}

ul {
  text-decoration: none;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.5em;
  padding: 1em 0;
}

h3 {
  font-size: 1em;
  padding: 1em 0;
  text-transform: uppercase;
  margin-top: 20px;
}

p {
  padding: 0.6em 0;
  font-size: 0.8em;
  line-height: 1.5em;
}

/* HEADER */
header {
  background-color: #377f9e;
  text-align: center;
  padding: 38px 20px;
  margin: 40px auto;
  color: white;
  width: 43%;
}
/* MAIN */
main {
  background-color: #ffffff;
  padding: 38px 20px;
  width: 43%;
  margin: 40px auto;
  border: 1px solid #c2bbbb;
}

.author-info {
  font-size: 0.6em;
  color: #c2bbbb;
}

main ul {
  list-style: disc;
  font-size: 0.8em;
  padding: 0.6em 1.8em;
}

ol {
  list-style-type: decimal;
  font-size: 0.8em;
  padding: 0.6em 1.8em;
}

li {
  line-height: 2em;
}
/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

table {
  border-bottom: 2px solid #4a6cc4;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
}

thead {
  background-color: #4a6cc4;
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

caption {
  font-style: italic;
  padding: 10px;
}

th,
tbody {
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: center;
}

.grey {
  border-top: 1px solid rgb(184, 179, 179);
  background-color: rgb(236 231 231);
  border-bottom: 1px solid rgb(184, 179, 179);
}

main a {
  color: #72b7d5;
}

iframe {
  width: 100%;
  border-radius: 25px;
}

/* FORM */

.box-grey {
  background-color: rgb(236 231 231);
  padding-bottom: 15px;
  margin-bottom: 20px;
}

.box-grey p {
  padding-left: 9px;
}

.box-grey > h3 {
  text-align: center;
}

form input {
  border: none;
  border-bottom: 1px dotted #000;
  margin-left: 9px;
}

form button {
  border: none;
  background-color: #4a6cc4;
  color: #ffffff;
}

.data {
  text-align: right;
  padding-right: 9px;
  font-size: 0.6em;
}

.border {
  border: 1px solid #a09595;
}

/* FOOTER */
footer {
  background: linear-gradient(176deg, #1c6c77, #332e20);
  padding: 28px 20px;
  width: 43%;
  margin: 40px auto;
  color: #ffffff;
}

footer a {
  color: magenta;
}
